@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/**Default Styles**/
:root{
  --main-bg-color: #182276;
  --secondary-bg-color: #0df6e7;
  --hover-button-color: #177ebd;
  --main-font-family: "Roboto", sans-serif;
  --main-font-color: white;
}
* {
  font-family: var(--main-font-family);
}
body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
html {
  margin: 0;
}
p {
  margin: 0;
}


/**Background image and background with stars**/
.background {
  max-width: 100vw;
  max-height: 70vh;
  margin-top: 10vh;
  display: block;

  transition: 2s;

  z-index: 10 !important;
}
.background img {
  width: 100%;
}
.background-scene-two {
  max-height: 70vh;
  position: absolute;
  top: 0;
  z-index: -1;
}
.rocket {
  min-height: 99vh;
  max-height: 100vh;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
}
.rocket img {
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}
/**End background image and background with stars**/

/**Login**/

.button-column {
  position: absolute;
  z-index: 2;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  transition: transform 1s;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: var(--main-bg-color);
  opacity: 0.9;
  border-radius: 10px;
  height: calc(20vh + 20px);
  width: 30vw;
}

.login .inputEmail {
  width: 90%;
  height: 18%;
  margin: 0 auto;
  color: var(--main-font-color);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
.login .inputEmail:focus {
  outline-color: var(--secondary-bg-color);
  outline-width: thin;
}
.login .inputEmail::placeholder {
  color: gray;
}
#error {
  color: red;
  font-weight: bold;
  font-family: var(--main-font-family);
  margin-left: 5%;
  display: none;
}
.start-button {
  width: 35%;
  height: 30%;
  align-self: flex-end;
  margin-right: 5%;
  margin-bottom: 10px;
  background-color: var(--main-bg-color);
  opacity: 1;
  border: var(--secondary-bg-color) 1px solid;
  border-radius: 15px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.49);
  cursor: pointer;
  transition: transform 0.3s;
}
.start-button p {
  color: var(--main-font-color);
  font-size: 16px;
}
.start-button:hover {
  transform: scale(1.1);
}
@keyframes shake { /**Shake the login container when the email is wrong**/
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/**End login**/

/**Position and styling of the chairs**/
.chair {
  position: absolute;
  z-index: 2;
  bottom: -25%;

  transform: scale(0.65);
}
.chair-left {
  left: 6%;
}
.chair-right {
  right: 3%;
  bottom: -25%;
  transform: scaleX(-1) scale(0.65);
}

@keyframes diagonal-move-anim {
  0% {
    transform: translate(0, 0) scale(0.6);
  }

  100% {
    transform: translate(35px, -100px) scale(0.6);
  }
}
@keyframes diagonal-move-anim-right {
  0% {
    transform: translate(0, 0) scale(0.6) scaleX(-1);
  }

  100% {
    transform: translate(-55px, -80px) scale(0.6) scaleX(-1);
  }
}
/**End position and styling of the chairs**/

/*Window cards*/
.cards-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  top: 22%;
  width: 100vw;
  display: none;
}
.middleCards {
  position: relative;
  display: flex;
  margin-top: 2.5%;
}
@keyframes showMeTop {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes showMeLeft {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes showMeRight {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0px);
  }
}
.card-window {
  position: relative;
}
.card-window img {
  width: 100%;
  height: 100%;
}
.card-window .cardContent {
  position: absolute;
  z-index: 99999;
  margin: 20% 10%;
  height: 100%;
  color: var(--main-font-color);
  font-family: var(--main-font-family);
  opacity: 0.9999;
}
.card2 .cardContent,
.card3 .cardContent,
.card4 .cardContent {
  margin-top: 10%;
}
.card-window .cardContent h3 {
  margin: 0 0 1px 0;
  font-size: 14px;
  font-weight: 400;
}
.card-window .cardContent p {
  font-size: 12px;
  line-height: 1.63;
}
.card-window .cardContent button {
  background-color: var(--main-bg-color);
  border: none;
  width: 70%;
  height: 35px;
  border-radius: 7px;
  margin-top: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.card-window .cardContent button:hover {
  background-color: var(--hover-button-color);
}
.card-window .cardContent button a {
  text-decoration: none;
  color: var(--main-font-color);
  font-weight: normal;
  font-family: var(--main-font-family);
}
.card-window .cardContent .info-button {
  background-color: transparent;
}
.card1 {
  width: 15vw;
  height: 17.5vw;
  margin-left: 3%;
  margin-top: 1.3%;
}
.card2 {
  width: 15vw;
  height: 12vw;
}

.card3 {
  width: 18vw;
  height: 13vw;
  margin: 0 2%;
}
.card4 {
  width: 15vw;
  height: 12vw;
}
.card5 {
  width: 15vw;
  height: 17.5vw;
  margin-right: 3%;
  margin-top: 1.3%;
}
.card5 .cardContent button {
  margin-left: 35%;
}
.card2 .cardContent button {
  margin-left: 40%;
}
.card3 .cardContent button {
  margin-left: 50%;
  margin-top: 10%;
}
.card4 .cardContent button {
  margin-left: 40%;
}
.card1 img {
  transform: rotate(4deg);
}
.card2 img {
  transform: rotate(180deg);
}
.card5 img {
  transform: scaleX(-1) rotate(4deg);
}

.cards-container-buttons {
  z-index: 4 !important;
  display: none;
}
.cards-container-buttons .card-window .cardContent p,
.cards-container-buttons .card-window .cardContent h3 {
  color: transparent;
}
.cards-container-buttons .card-window .cardContent button {
  background-color: transparent;
  color: transparent;
}
.cards-container-buttons .card-window .cardContent button a {
  color: transparent;
}
.cards-container-buttons .card-window .cardContent button:hover {
  background-color: var(--hover-button-color);
}
.cards-container-buttons .card-window .cardContent button:hover a {
  color: var(--main-font-color);
}
.cards-container-buttons .card-window .cardContent .info-button-capa2 {
  border: 2px solid var(--secondary-bg-color);
  background-color: transparent;
}
.cards-container-buttons .card-window .cardContent .info-button-capa2 a {
  color: var(--main-font-color);
}
/*End window cards*/

/*Detail view styles "Ver más"*/
.background-scene-detail {
  height: 70vh;
  width: 40vw;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.detail-screen {
  z-index: 5;
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  right: -100vw;
  transition: transform 0.5s;
}
.detail-screen .detail-background {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.detail-screen .detail-content {
  position: absolute;
  z-index: 5;
  top: 5%;
  left: 5%;
  width: 42%;
  height: 60%;
}
.detail-screen .detail-content #detailScreenHome {
  width: 70px;
}
.detail-screen .detail-content #detailScreenHome:hover .home-img {
  transform: scale(1.1);
}
.detail-screen .detail-content .home-img {
  width: 70px;
  cursor: pointer;
  transition: transform 0.3s;
}
.detail-screen .detail-content .home-img:hover {
  transform: scale(1.1);
}
.detail-screen .detail-content .detail-text {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 110%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 7;
  
}
.detail-screen .detail-content .detail-text .text-content {
  width: 100%;
  height: 70vh;
  word-wrap: break-word ;
  padding: 10px;
  overflow-y: scroll;
  
  color: var(--main-font-color);
  font-family: var(--main-font-family);
 
  
}
.detail-screen .detail-content .detail-text .text-content::-webkit-scrollbar{
  display: none;
}
.detail-screen .detail-content .detail-text .text-content h3 {
  font-weight: 20px;
  margin-top: 25px;
}
.detail-screen .detail-content .detail-text .text-content p {
  margin: 3% 0;
  font-size: 15px;
  line-height: 18px;
}
.detail-screen .detail-content .detail-text .text-content p span{
  font-weight: bold;
}
.detail-screen .detail-content .detail-text .text-content span{
  font-weight: bold;
}
/*End detail view styles "Ver más"*/

footer {
  position: absolute;
  z-index: 10;
  bottom: -7vh;
  width: 100vw;
  height: 7vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: 1s;
}

/*Footer icons*/
footer div {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  margin-right: 3%;
}
.nulleImg{
  max-width: 100%;
  min-width: 100%;
  margin-bottom: -2px;
}
.interconomy {
  height: 35px;
  width: 35px;
}
.interconomyImg {
  max-width: 100%;
  min-width: 100%;
}
.interconomyImg:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}
footer div a {
  color: #c9c9cd;
  transition: transform 0.3s, color 0.3s ease-in-out;
}

footer div a:hover {
  transform: scale(1.1);
}

#yt:hover {
  color: #ff4f4f;
}

#fb:hover {
  color: #5b74ff;
}

#sp:hover {
  color: #36c869;
}

#tw:hover {
  color: #51b1fa;
}

#lk:hover {
  color: #5a84e6;
}

#sk:hover {
  color: rgb(239, 245, 68);
}

#infoA:hover {
  color: orange;
}
/*End Footer icons*/

.hover:hover {
  transform: scale(1.1);
}

/*Punto AYI Bubble*/
.punto-ayi {
  cursor: pointer;
  background-color: var(--main-bg-color);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  left: 10px;
  bottom: 10vh;
  transition: transform 0.3s;
}
.punto-ayi img {
  width: 70%;
  margin-left: -10px;
}
.punto-ayi:hover {
  transform: scale(1.1);
}
/*End Punto AYI Bubble*/

/*Chat bubble icon*/
.bubble-chat {
  cursor: pointer;
  background-color: var(--main-bg-color);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  right: 10px;
  bottom: 10vh;
  transition: transform 0.3s, height 0.3s, width 0.3s, border-radious 0.3s;
  -moz-transition: transform 0.3s, height 0.3s, width 0.3s, border-radious 0.3s;
  -webkit-transition: transform 0.3s, height 0.3s, width 0.3s,
    border-radious 0.3s;
  -o-transition: transform 0.3s, height 0.3s, width 0.3s, border-radious 0.3s;
  animation: showMeRight 2s forwards;
}
.bubble-chat:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid var(--main-bg-color);
  border-top: 10px solid var(--main-bg-color);
  border-bottom: 10px solid transparent;

  right: 19px;
  bottom: -10px;
}
.bubble-chat img {
  width: 70%;
  height: auto;
  z-index: 4;
  transition: transform 0.3s;
}
/*End chat bubble icon*/
/*Chat open styles*/
.chat-open {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
  width: 400px;
  height: 600px;
  position: absolute;
  z-index: 3;
  border-radius: 10px;
  right: 10px;
  bottom: 10px;
}
.chat-iframe {
  z-index: 3;
  position: absolute;
  width: 100%;
  max-height: 100%;
  min-height: 100%;
  top: 0px;
  display: none;
}
/*End chat open styles*/

/*Close chat button when the chat is open*/
#closeChat {
  background-color: transparent;
  cursor: pointer;
  color: var(--secondary-bg-color);
  border: none;
  z-index: 10;
  top: 0;
  position: absolute;
  right: 0;
  margin: 2% 2%;
  display: none;
  font-size: 25px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
#closeChat:hover {
  color: red;
  transform: scale(1.1);
}
/*Close chat button when the chat is open*/

/*"Proposito AYI" Button*/
.info {
  background-color: rgb(24, 34, 118);
  cursor: pointer;

  color: var(--main-font-color);
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 30px;
  /* width: 80%;
  height: 80%; */
  position: absolute;
  z-index: 4;
  border-radius: 10px;
  /* left: 10%;
  bottom: 10%; */
  left: 44.5%;
  bottom: 29%;
  transition: transform 0.3s, width 0.1s ease-out, height 0.1s ease-out,
    background-color 0.1s ease-out, border-radius 0.1s;
  display: none;
}
.info p {
  font-size: 13px;
}

.hideSwipper:hover {
  background-color: var(--hover-button-color) !important;
}
/*End "Proposito AYI" Button*/

/*Swiper inside "Proposito AYI" Button  */
.swiper {
  width: 100%;
  height: 100%;
  background-color: rgba(24, 34, 118, 0.85);
  border-radius: 100px;
  display: none;
}
.swiper button {
  width: 10%;

  position: absolute;
  z-index: 9999;
  top: 17px;
  right: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: var(--main-font-color);
  transition: color 0.3s ease-in-out, transform 0.3s;
}
.swiper button:hover {
  color: red;
  transform: scale(1.1);
}
.swiper-slide {
  text-align: center;
  font-size: 16px;

  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  gap: 2%;
  align-items: center;
  justify-content: center;
  color: var(--main-font-color);
}
.swiper-slide div {
  width: 80%;
  display: inherit;
  flex-direction: inherit;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
}
.swiper-slide div p {
  margin-bottom: 7px;
}
.swiper-slide img {
  display: block;
  width: 90%;
  height: 90%;
  object-fit: scale-down;
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  opacity: 0.8;
  z-index: 9999;
  transition: transform 0.3s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1);
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px;
}
.swiper-button-next {
  margin-right: 40px;
}
.swiper-button-prev {
  margin-left: 40px;
}
.hideSwipper {
  background-color: rgb(24, 34, 118) !important;
  cursor: pointer !important;

  color: var(--main-font-color) !important;
  font-family: Roboto !important;

  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  width: 120px !important;
  height: 30px !important;
  /* width: 80%;
  height: 80%; */
  position: absolute !important;
  z-index: 4 !important;
  border-radius: 10px !important;
  /* left: 10%;
  bottom: 10%; */
  left: 44.5% !important;
  bottom: 29% !important;
}
/*End Swiper inside "Proposito AYI" Button  */
.razar {
  display: none;
  cursor: pointer;
  float:left;
  position:absolute;
  bottom: 19%;
  left: 47.2%;
  width:46px;
  height:46px;
  background-size: 100% 100%;
  border-radius:23px;
  box-shadow:0 1px 1px 0 rgba(0,0,0,0.6), 0 0 4px 1px rgba(0,0,0,0.5), inset 0 1px 1px 0 rgba(255,255,255,0.6), inset 0 2px 4px 1px rgba(255,255,255,0.5);
}

.pulse {
  position:absolute;
  top:0;
  left:0;
  width:40px;
  height:40px;
  border-radius: none;
  
  -moz-animation: pulsating 4s ease-in-out;
  -moz-animation-iteration-count: infinite;
  -webkit-animation: pulsating 4s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  opacity:0.0;
  z-index:5;
}

.ringbase {
  position:absolute;
  top:0;
  left:0;
  width:40px;
  height:40px;
  border-radius: 20px;
  opacity:0.0;
  z-index:2;
}

.ring1 {
  box-shadow:0 0 2px 1px var(--hover-button-color), inset 0 0 2px 1px var(--hover-button-color);
  -moz-animation: ring 2s ease-in-out;
  -moz-animation-iteration-count: infinite;
  -webkit-animation: ring 2s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation: ring 2s ease-in-out;
  animation-iteration-count: infinite;
}

.ring2 {
  box-shadow:0 0 2px 0px #cbe572, inset 0 0 2px 0px #cbe572;
  -moz-animation: ring 4s ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 0.5s;
  -webkit-animation: ring 2s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.5s;
  animation: ring 4s ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

@-webkit-keyframes pulsating {
  0% {opacity: 0.0;}
  50% {opacity: 0.5;}
  100% {opacity: 0.0;}
}

@-moz-keyframes pulsating {
  0% {opacity: 0.0;}
  50% {opacity: 0.5;}
  100% {opacity: 0.0;}
}

@keyframes pulsating {
  0% {opacity: 0.0;}
  50% {opacity: 0.5;}
  100% {opacity: 0.0;}
}

@-webkit-keyframes ring {
  0% {-webkit-transform: scale(0.4, 0.4); opacity: 0.0;}
  50% {opacity: 0.8;}
  100% {-webkit-transform: scale(1.1, 1.1); opacity: 0.0;}
}

@-moz-keyframes ring {
  0% {-moz-transform: scale(0.4, 0.4); opacity: 0.0;}
  50% {opacity: 0.6;}
  100% {-moz-transform: scale(1.1, 1.1); opacity: 0.0;}
}

@keyframes ring {
  0% {transform: scale(0.4, 0.4); opacity: 0.0;}
  50% {opacity: 0.6;}
  100% {transform: scale(1.1, 1.1); opacity: 0.0;}
}


.pointer {
  position: absolute;
  width: 40px;
  top: 20px;
  -webkit-animation: circling 2s linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: circling 2s linear;
  -moz-animation-iteration-count: infinite;
  animation: circling 2s linear;
  animation-iteration-count: infinite;
  z-index: 3;
}

.pointer div {
  width: 49%;
  border-bottom:2px solid var(--hover-button-color);
  opacity: .3;
}

.dot {
  opacity: 0;
  border: 3px solid #e0f4a5;
  border-radius: 100%;
  position:absolute;
  -webkit-animation: blink 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: blink 2s ease-out;
  -moz-animation-iteration-count: infinite;
  animation: blink 2s ease-out;
  animation-iteration-count: infinite;
  z-index: 2;
}

.dot.pos1 {
  left:8px;
  top:30px;
}

.dot.pos2 {
  right:8px;
  top:33px;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.dot.pos3{
  right:3px;
  top:2px;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.dot.pos4{
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

@-webkit-keyframes circling {
  0% {-webkit-transform: rotate(0deg);}
  50% {-webkit-transform: rotate(180deg);}
  100% {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes circling {
  0% {-moz-transform: rotate(0deg);}
  50% {-moz-transform: rotate(180deg);}
  100% {-moz-transform: rotate(360deg);}
}

@keyframes circling {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}

@-webkit-keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-moz-keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.razar .img-punto-ayi{
  position: absolute;
  z-index: 3;
  display: block;
  width: 100%;
}
.razar .img-punto-ayi img{
  z-index: 9;
  margin-left: -3px;
  margin-top: -3px;
  width: 100%;
  opacity:0.7;
  transition: opacity .3s, transform .3s;
}
.razar:hover .img-punto-ayi img{
  opacity: 1;
  transform: scale(1.1);
}

@media (min-height: 800px) {
  .background {
    max-width: 100vw;
    max-height: 85vh;
    margin-top: 15.3vh;
    display: block;

    transition: 2s;

    z-index: 10 !important;
  }
  .background img {
    width: 100%;
    height: 85vh;
  }
  .chair {
    position: absolute;
    z-index: 2;
    bottom: -15%;

    transform: scale(0.7);
  }
  .chair-left {
    left: 4%;
  }
  .chair-right {
    right: 2%;
    bottom: -15%;
    transform: scaleX(-1) scale(0.7);
  }
  .middleCards {
    position: relative;
    display: flex;
    margin-top: 3%;
  }
  .card1 {
    width: 16vw;
    height: 35vh;
    margin-left: 3%;
    margin-top: 1.3%;
  }
  .card2 {
    width: 15vw;
    height: 27vh;
  }

  .card3 {
    width: 19vw;
    height: 27vh;
    margin: 0 2%;
  }
  .card4 {
    width: 15vw;
    height: 27vh;
  }
  .card5 {
    width: 15vw;
    height: 35vh;
    margin-right: 3%;
    margin-top: 1.3%;
  }
  .card-window .cardContent h3 {
    margin: 0 0 2px 0;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--main-font-family);
  }
  .card-window .cardContent p {
    font-size: 13px;
    margin: 3px 0;
    font-family: var(--main-font-family);
  }
  .card-window .cardContent button {
    height: 40px;
    width: 110px;
    font-family: var(--main-font-family);
  }
  @keyframes diagonal-move-anim {
    0% {
      transform: translate(0, 0) scale(0.65);
    }

    100% {
      transform: translate(40px, -80px) scale(0.65);
    }
  }
  @keyframes diagonal-move-anim-right {
    0% {
      transform: translate(0, 0) scale(0.65) scaleX(-1);
    }

    100% {
      transform: translate(-55px, -60px) scale(0.65) scaleX(-1);
    }
  }
}

@media (min-width: 1300px) {
  .chair {
    position: absolute;
    z-index: 2;
    bottom: -20%;

    transform: scale(0.65);
  }
  .chair-left {
    left: 5%;
  }
  .chair-right {
    right: 3%;
    bottom: -20%;
    transform: scaleX(-1) scale(0.65);
  }
  .middleCards {
    position: relative;
    display: flex;
    margin-top: 3%;
  }
  .card1 {
    width: 16vw;
    height: 35vh;
    margin-left: 3%;
    margin-top: 1.3%;
  }
  .card2 {
    width: 15vw;
    height: 27vh;
  }

  .card3 {
    width: 19vw;
    height: 27vh;
    margin: 0 2%;
  }
  .card4 {
    width: 15vw;
    height: 27vh;
  }
  .card5 {
    width: 15vw;
    height: 35vh;
    margin-right: 3%;
    margin-top: 1.3%;
  }
  .card-window .cardContent h3 {
    margin: 0 0 2px 0;
    font-size: 15px;
    font-weight: 400;
  }
  .card-window .cardContent p {
    font-size: 11px;
    margin: 3px 0;
  }
  .card-window .cardContent button {
    font-size: 11px;
  }
  .card-window .cardContent button {
    height: 30px;
    width: 100px;
  }

  @keyframes diagonal-move-anim {
    0% {
      transform: translate(0, 0) scale(0.63);
    }

    100% {
      transform: translate(45px, -60px) scale(0.63);
    }
  }
  @keyframes diagonal-move-anim-right {
    0% {
      transform: translate(0, 0) scale(0.63) scaleX(-1);
    }

    100% {
      transform: translate(-45px, -35px) scale(0.63) scaleX(-1);
    }
  }
}
@media (min-width: 1400px) {
  .chair {
    position: absolute;
    z-index: 2;
    bottom: -15%;

    transform: scale(0.8);
  }
  .chair-left {
    left: 5%;
  }
  .chair-right {
    right: 2.5%;
    bottom: -15%;
    transform: scaleX(-1) scale(0.8);
  }
  .middleCards {
    position: relative;
    display: flex;
    margin-top: 3%;
  }
  .card1 {
    width: 16vw;
    height: 35vh;
    margin-left: 3%;
    margin-top: 1.3%;
  }
  .card2 {
    width: 15vw;
    height: 27vh;
  }

  .card3 {
    width: 19vw;
    height: 27vh;
    margin: 0 2%;
  }
  .card4 {
    width: 15vw;
    height: 27vh;
  }
  .card5 {
    width: 15vw;
    height: 35vh;
    margin-right: 3%;
    margin-top: 1.3%;
  }
  .card-window .cardContent h3 {
    margin: 0 0 2px 0;
    font-size: 20px;
    font-weight: 400;
  }
  .card-window .cardContent p {
    font-size: 15px;
    margin: 3px 0;
  }
  .card-window .cardContent button {
    height: 40px;
    width: 110px;
  }
  @keyframes diagonal-move-anim {
    0% {
      transform: translate(0, 0) scale(0.8);
    }

    100% {
      transform: translate(65px, -120px) scale(0.7);
    }
  }
  @keyframes diagonal-move-anim-right {
    0% {
      transform: translate(0, 0) scale(0.7) scaleX(-1);
    }

    100% {
      transform: translate(-75px, -90px) scale(0.7) scaleX(-1);
    }
  }
}
@media (min-width: 1500px) {
  .chair {
    position: absolute;
    z-index: 2;
    bottom: -15%;

    transform: scale(0.85);
  }
  .chair-left {
    left: 10%;
  }
  .chair-right {
    right: 8%;
    bottom: -15%;
    transform: scaleX(-1) scale(0.85);
  }
  .card-window .cardContent h3 {
    margin: 0 0 2px 0;
    font-size: 20px;
    font-weight: 400;
  }
  .card-window .cardContent p {
    font-size: 16px;
    line-height: 1.63;
  }
  .info {
    width: 160px;
    height: 40px;

    left: 44.5%;
    bottom: 29%;
  }
  @keyframes diagonal-move-anim {
    0% {
      transform: translate(0, 0) scale(0.85);
    }

    100% {
      transform: translate(80px, -150px) scale(0.85);
    }
  }
  @keyframes diagonal-move-anim-right {
    0% {
      transform: translate(0, 0) scale(0.85) scaleX(-1);
    }

    100% {
      transform: translate(-90px, -130px) scale(0.85) scaleX(-1);
    }
  }
}
@media (width: 1366px) and (height: 621px) {
  .chair {
    position: absolute;
    z-index: 2;
    bottom: -25%;

    transform: scale(0.6);
  }
  .chair-left {
    left: 5%;
  }
  .chair-right {
    right: 3%;
    bottom: -25%;
    transform: scaleX(-1) scale(0.6);
  }
  .middleCards {
    position: relative;
    display: flex;
    margin-top: 2%;
  }
  .card1 {
    width: 16vw;
    height: 35vh;
    margin-left: 3%;
    margin-top: 1%;
  }
  .card2 {
    width: 15vw;
    height: 27vh;
  }

  .card3 {
    width: 19vw;
    height: 27vh;
    margin: 0 2%;
  }
  .card4 {
    width: 15vw;
    height: 27vh;
  }
  .card5 {
    width: 15vw;
    height: 35vh;
    margin-right: 3%;
    margin-top: 1%;
  }
  .middleCards .card-window .cardContent {
    margin: 10% 7%;
  }
  .card-window .cardContent h3 {
    margin: 0 0 2px 0;
    font-size: 15px;
    font-weight: 400;
  }
  .card-window .cardContent p {
    font-size: 11px;
    margin: 3px 0;
  }
  .card-window .cardContent button {
    font-size: 11px;
  }
  .card-window .cardContent button {
    height: 30px;
    width: 100px;
  }
  .detail-screen .detail-content .detail-text .text-content p {
    font-size: 13px;
  }

  @keyframes diagonal-move-anim {
    0% {
      transform: translate(0, 0) scale(0.57);
    }

    100% {
      transform: translate(55px, -60px) scale(0.57);
    }
  }
  @keyframes diagonal-move-anim-right {
    0% {
      transform: translate(0, 0) scale(0.6) scaleX(-1);
    }

    100% {
      transform: translate(-60px, -35px) scale(0.57) scaleX(-1);
    }
  }
}
